<div>
  <h1 class="title">Temperature Calculator</h1>
  <div class="calculator">
    {{temperature-input scale='c' temperature=celsius onTemperatureChange=(action 'handleCelsiusChange')}}
    <img src="assets/images/bidirectional-arrows-black-fat.png" class="arrows" alt="arrows"/>
    {{temperature-input scale='f' temperature=fahrenheit onTemperatureChange=(action 'handleFahrenheitChange')}}
  </div>
</div>