.body {
    font-family: 'Shadows Into Light', cursive;
}

.arrows {
    width: 5%;
    height: 5%;
}

.calculator {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.input-box {
    font-size: 120%;
    text-align: center;
    background-color: antiquewhite;
    height: 10vh;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 500%;
}

.ten-pines-logo {
    position: absolute;
    bottom: 0px;
    width: 10%;
}